<div class="col-xs-12">
    <div class="row">
        <h1 class="display-1">Create a Journal</h1 </div>
    </div>

    <!-- Form part -->
    <div class="container" ng-hide="hideForm">
        <div class="col-xs-12">
            <div class="row">
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input ng-model="newJournal.title" id="title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="editorial">Editorial</label>
                        <input ng-model="newJournal.editorial" id="editorial" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="area">Area</label>
                        <input ng-model="newJournal.area" id="area" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="issn">ISSN</label>
                        <input ng-model="newJournal.issn" id="issn" class="form-control" />
                    </div>
                    <div class="form-group ">
                        <label for="keywords ">Keywords</label>
                        <textarea class="form-control " id="keywords " ng-model="newJournal.keywords " rows="3 " aria-describedby="keywords_help "></textarea>
                        <small id="keywords_help " class="form-text text-muted ">Separate the keywords by commas</small>
                    </div>
                    <button class="btn btn-info " onclick="location.href='#!' ; ">Back</button>
                    <button class="btn btn-primary " text="Create " ng-click="createPatent() ">Create</button>
                </form>
            </div>
        </div>
    </div>
