<h1 class="section-heading">Journals</h1>

<div class="container">
    <h2><a href="#!/search">Go to Advanced Search</a></h2>
    <br/>
</div>
<div class="container">
    <h4><a href="#!/graph">Graph 1</a></h4>
    <h4><a href="#!/graph2">Graph 2 (Streaming / Monthly)</a></h4>
    <h4><a href="#!/graph3">Graph 3 (Streaming / Daily)</a></h4>
    <br/>
    <br/>
    <br/>
</div>
<div class="container-fluid">

    <div class="col-xs-12" ng-hide="hideTable">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <tr class>
                        <th>Title</th>
                        <th>Editorial</th>
                        <th>Area</th>
                        <th>ISSN</th>
                        <th>Articles</th>
                        <th>Keywords</th>
                        <th>Actions</th>
                    </tr>
                    <thead>
                        <tbody>
                            <tr>
                                <td><input ng-model="newJournal.title" /></td>
                                <td><input ng-model="newJournal.editorial" /></td>
                                <td><input ng-model="newJournal.area" /></td>
                                <td><input ng-model="newJournal.issn" /></td>
                                <td><input ng-model="newJournal.idArticle" /></td>
                                <td><input ng-model="newJournal.keywords" /></td>

                                <td>
                                    <button class="btn btn-primary" text="Add" ng-click="addJournal()"> Add </button>
                                </td>

                            </tr>
                            <tr ng-repeat="journal in journals">
                                <td><a href="#!/journal/{{journal.idJournal}}">{{journal.title}}</a></td>
                                <td>{{journal.editorial}}</td>
                                <td>{{journal.area}}</td>
                                <td>{{journal.issn}}</td>
                                <td>{{journal.articleTitle}}</td>
                                <td>{{journal.keywords}}</td>
                                <td>
                                    <button class="btn btn-danger" ng-click="deleteJournal(journal.idJournal)"> Delete </button>
                                </td>
                            </tr>

                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <ul uib-pagination total-items="pagination.total" items-per-page="pagination.limit" total-items="pagination.total" ng-model="pagination.page" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="loadPage()"></ul>
</div>
